@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
.tulishana img{
    width : 100%;
}
.col-md-3{
padding-right: 0px;
padding-left: 0px;
}
.helo{
background-color: #CCC6C6;
height: 306px;
line-height: 206px;
font-family: 'Muli', sans-serif;
text-align:center;
font-size: 48pt;
padding-top: 50px;
}
.you{
background-color: #EFEEEC;
height: 306px;
line-height: 50px;
font-family: 'Muli', sans-serif;
font-size: 25pt;
padding-left: 350px;
padding-top: 0px;
}
.about{
background-color: #F9DCD6;
height: 306px;
line-height: 50px;
font-family: 'Muli', sans-serif;
text-align: center;
font-size: 25pt;
padding-left: 300px;
padding-top: 190px;

}
.an{
background-color: #E4C7B5;
height: 306px;
line-height: 50px;
font-family: 'Muli', sans-serif;
font-size: 25pt;
padding-left: 200px;
padding-top: 0px;
text-align: right;
}
.photo{
margin-left: 0px;
}
.resume{
background-color: #F6F6F6;
height: 420px;
line-height: 50px;
font-family: 'Muli', sans-serif;
text-align: center;
font-size: 25pt;
padding-top: 150px;

}
.rec{
background-color: #CDC7C7;
height: 420px;
}

.prof img{
    width : 100%;
}

.desc{
text-align: center;
font-family: 'Muli', sans-serif;
font-size: 25pt;
}

.quote{
background-color: #F9DCD6;
text-align: center;
font-family: 'Muli', sans-serif;
font-size: 35pt;
font-weight: bold;
line-height: 50px;
height: auto;
padding-top: 50px;
}

.vince{
background-color: #F9DCD6;
text-align: center;
font-family: 'Muli', sans-serif;
font-size: 18pt;
line-height: 70x;
height: 100px;
padding-top: 30px;

}

.blank{
background-color: #FFFFFF;
height: 100px;
}

.edu img{
width : 100%;
}

.contact img{
width : 100%;
}

.education{
font-family: 'Muli', sans-serif;
font-size: 20pt;

}

.experience{
font-family: 'Muli', sans-serif;
font-size: 20pt;
padding-left:150px;
}

.mail img{
width:200px;
padding-left: 100px;
padding-top: 0px;
}

.email{
font-family: 'Muli', sans-serif;
font-size: 25pt;
margin-left: -200px;
padding-top: 20px;
}

.wa img{
width:200px;
padding-left: 100px;
padding-top: 0px;
}

.whatsapp{
font-family: 'Muli', sans-serif;
font-size: 25pt;
margin-left: -200px;
padding-top: 20px;
}

.link img{
width:200px;
padding-left: 100px;
padding-top: 0px;
}

.linkedin{
font-family: 'Muli', sans-serif;
font-size: 25pt;
margin-left: -200px;
padding-top: 20px;
}

.insta img{
width:200px;
padding-left: 100px;
padding-top: 0px;
}

.instagram{
font-family: 'Muli', sans-serif;
font-size: 25pt;
margin-left: -200px;
padding-top: 20px;
}

.one{
background-color: #E4C7B5;
height: 100px;
}

.two{
background-color: #EFEEEC;
height: 100px;
}

.three{
background-color: #CDC7C7;
height: 100px;
}

.four{
background-color: #E4C7B5;
height: 100px;
}

.comit img{
width: 100%;
}

.komite{
font-family: 'Muli', sans-serif;
font-size: 20pt;
margin-left:20px;
text-align:center;
}
.navbar-nav li {
margin: 5px 100px;
}

.seemore {
margin-top: -60px;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {

  .education{
    padding-left:400px;
    }
  .experience{
    padding-left:200px;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .education{
    padding-left:50px;
    }
  .experience{
    padding-left:50px;
  }
  .email{
    padding-left:300px;

  }
  .whatsapp{
    padding-left:300px;

  }
  .linkedin{
    padding-left:300px;

  }
  .instagram{
    padding-left:300px;

  }
}






