<!doctype html>
<html lang="en">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cssKu.css' %}">
    <title>My Website</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light background-color: #fffff; ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/schedule">My Schedule</a>
            </li>
        </ul>
    </div>
</nav>

<div class="row contact">
    <img src="{% static 'images/contact.png' %}">
</div>
<div class="row">
    <div class= "col-md-3 mail">
        <img src="{% static 'images/mail.png' %}">
    </div>
    <div class="col-md-3 email">
        <p>hana.fadhila@ui.ac.id</p>
    </div>
    <div class="col-md-3 wa">
        <img src="{% static 'images/whatsapp.png' %}">
    </div>
    <div class="col-md-3 whatsapp">
        <p>+6285691683705</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 blank"></div>
</div>
<div class="row">
    <div class="col-md-3 link"> <a href='https://www.linkedin.com/in/hana-fadhila-ardiansyah-24ba0017b/?originalSubdomain=id'>
        <img src="{% static 'images/linkedin.png' %}"></a>
    </div>
    <div class="col-md-3 linkedin">
        <p> Hana Fadhila Ardiansyah</p>
    </div>
    <div class="col-md-3 insta">
        <a href='https://www.instagram.com/hanardiansyah/?hl=en'>
            <img src="{% static 'images/instagram.png' %}"></a>
    </div>
    <div class="col-md-3 instagram">
        <p>Hana Fadhila Ardiansyah</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 blank"></div>
</div>
<div class="row">
    <div class = "col-md-3 one">
    </div>
    <div class = "col-md-3 two">
    </div>
    <div class = "col-md-3 three">
    </div>
    <div class = "col-md-3 four">
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
