<!doctype html>
<html lang="en">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cssKu.css' %}">
    <title>My Website</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light background-color: #fffff; ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/schedule">My Schedule</a>
            </li>
        </ul>
    </div>
</nav>

<div class="row prof">
    <img src="{% static 'images/prof.png' %}">
</div>

<div class="row">
    <div class="col-md-12 desc">
        <p>Hi, my name is Hana. I’m a 18-year-old coder who is eager to learn new things. An<br>ENTP-T  person struggling with life.  I’m highly interested in technology and I love to<br>playing musical instruments.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 blank"></div>
</div>
<div class="row">
    <div class="col-md-12 quote">
        <p>" It’s not whether you get knocked down, <br> it’s whether you get up."</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 vince">
        <p>Vince Lombardi</p>
    </div>
</div>
<div class="row edu">
    <img src="{% static 'images/edu.png' %}">
</div>

<div class="row">
    <div class="col-md- education">
        <p><br><br><br>
            • Faculty of Computer Science, <br>
            University of Indonesia <br> 2018 - now<br><br>
            • SMAN 5 Bogor <br> 2015 - 2018 <br><br>
            • SMPN 1 Bogor <br> 2012 - 2015<br><br>
            • SDN Polisi 4 Bogor <br> 2006 - 2014
        </p>
    </div>
    <div class="col-md-6 experience">
        <p><br><br><br>
            • Public Relations of RISTEK <br> 2019 - Present<br><br><br>
            • Member of ASEAN Youth Camp<br> 2016 - 2017<br><br>
            • Secretary of LIMIT 5 <br> 2015 – 2017<br><br>
            • Student Council of SMAN 5 Bogor <br> 2015 - 2016<br><br>
        </p>
        <button type="button" class="btn btn-secondary seemore" onclick="window.location.href='/seeMore'"> See More </button>
    </div>
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
