<!doctype html>
<html lang="en">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cssKu.css' %}">
    <title>My Website</title>
</head>
<body>
<br>
<nav class="navbar navbar-e xpand-lg navbar-light background-color: #fffff; ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/schedule">My Schedule</a>
            </li>
        </ul>
    </div>
</nav>
<div class="row prof">
    <img src="{% static 'images/schedule.png' %}">
</div>
<div class="article">
    <a href="{% url 'AppKu:schedule' %}"></a>
    <div class="article">
        <div class="row">
            {% for schedule in schedules %}
            <div class="col-sm-4 text-center">
                <h2 style="font-family: 'Muli', sans-serif;">{{ schedule.activity }}</h2>
                <p   style="font-family: 'Muli', sans-serif;"> {{ schedule.date.date }}</p>
                <p   style="font-family: 'Muli', sans-serif;">{{ schedule.time}}</p>
                <p   style="font-family: 'Muli', sans-serif;">{{ schedule.place }}</p>
                <p   style="font-family: 'Muli', sans-serif;">{{ schedule.category }}</p>

                <div class = 'form-group'>
                    <form action="/schedule/clear/{{ schedule.id }}/" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</br> </br> </br>
<div class = 'col-md-12'>
    <div class = 'form-group'>
        <a href="{% url 'AppKu:schedule_create' %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Create</button></a>
    </div>
</div>
<div class="row">
    <div class = "col-md-3 one">
    </div>
    <div class = "col-md-3 two">
    </div>
    <div class = "col-md-3 three">
    </div>
    <div class = "col-md-3 four">
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>