<!doctype html>
<html lang="en">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cssKu.css' %}">
    <title>My Website</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light background-color: #fffff; ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/schedule">My Schedule</a>
            </li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="col-md-12 blank"></div>
</div>
<div class="row comit">
    <img src="{% static 'images/comit.png' %}">
</div>
<div class="row">
    <div class="col-md-12 komite">
        <p><br><br><br>
            • PIC of Seminar Pekan Ristek 2019 <br>November 2019<br>
            (Tech even held by RISTEK)<br><br><br>
            • Liaison Officer staff of Open House Fasilkom<br>November 2019<br>
            (Event held by Fasilkom)<br><br><br>
            • Playground staff of Compfest 11 <br>September 2019<br>
            (Tech even held by Fasilkom)<br><br><br>
            • Liaison Officer staff of Wisuda Genap FASILKOM UI<br> August 2019<br>
            (Celebration and Ceremony for Fasilkom UI graduates)<br><br><br>
            • Decoration Division of Computer Get Together <br> February 2019<br>
            (Decorate all events on CGT)<br><br><br>
            • Seminar staff of Educare<br> Desember 2018<br>
            (Managed all seminar events on Educare)<br><br><br>
            • Public relations staff of Open House Fasilkom<br>September 2018<br>
            (Event held by Fasilkom)<br><br><br>
            • Public relations staff of Yearbook SMAN 5 Bogor<br>November 2017<br>
            (Coordinating all public relations activities of the yearbook)<br><br><br>
            • Marketing staff of DBL West Java <br> August 2017 <br>
            (Promoting and driving the sales of the Developmental Basketball League)<br><br><br>
        </p>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
